body{
  background: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 70px 69px 23px 99px;
}

html, body {
  overflow: hidden;
 }

p{
  font-family: 'Open Sans', sans-serif;

  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
}

p span{
  color: #00BFA6;
}

.page{
  width: 1092px;
  margin: 46px auto 20px
}

.hero{
  border: 1px solid rgb(0, 247, 255);
  display: flex;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main{
  margin: 102px 0 157px;
  display: flex;
  text-align: center;
  height: 283px;
  justify-content: space-between;
}

section{
  width: 609px;
}

h1{
  margin-bottom: 59px;
  font-size: 36px;
  line-height: 40px;
  color: white;
}

h1 span{
  color: #00BFA6;
}

ul{
  font-family: 'JetBrains Mono', monospace;

  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 64px;
}

ul li a{
  text-decoration: none;
  color: white;
}

ul li a:hover{
  font-weight: bold;
  color: rgb(192, 186, 186);
}

footer{
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 28px;
}

.line{
  width: 568px;
  height: 0px;

  margin: 0 auto 27px;
  border: 1px solid #00BFA6;
}

footer a{
  text-decoration: none;
  color: #FFFFFF;
}

#padlock{
  position: fixed;
  bottom: 20px;
  left: 20px;
}